<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsh.lshapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".LshApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.home.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.edit_person.PersonEditActivity"/>
        <activity android:name=".mvp.person_detail.PersonDetailActivity"/>
        <activity android:name=".mvp.setting.SettingsActivity"/>
        <activity android:name=".mvp.type_detail.TypeDetailActivity"/>
        <activity android:name=".mvp.edit_type.TypeEditActivity"/>

        <service android:name=".lib.tinker.service.TinkerResultService"/>
    </application>

</manifest>